[Unit]
Description=EPaper control service
After=multi-user.target

[Service]
WorkingDirectory=/home/duck/epaper-calendar/
ExecStart=/home/duck/epaper-calendar/bin/python /home/duck/epaper-calendar/run.py --serve-in-foreground

[Install]
WantedBy=multi-user.target


